<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fila</title>
</head>
<body>
    <h1>fila</h1>
    <a href="/formulario"> Adicione Uma pessoa a lista</a>

        <table>
            <thead>
                <tr>
<!--                    <th>Ordem</th>-->
                    <th>Nome</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
            <div th:each="usuario : ${usuarios}">
            <tr>
<!--                <td><span th:value = "${#numbers.formatDecimal(usuario.id, 1)}"></span></td>-->
                <td><span th:text ="${usuario.nome}"></span></td>
                <td><a th:ref="@{/deletar} + ${usuario.id}">Deletar</a></td>
            </tr>
            </div>
            </tbody>
        </table>

</body>
</html>